@import "../abstracts/variables";

.our-team {
  @include display_flex(center, center, column);

  @media (min-width: $bp-lg) {
    border-bottom: 1px solid $background-secondary;
  }
}

.our-team__title{
  margin-top: 30px;
  color: $text-color-gray;
  font-family:'Gilroy-Regular', sans-serif;
  font-size: 65px;
  font-weight: 200;
  text-transform: uppercase;
  @include display_flex;

  @media (min-width: $bp-lg) {
    margin-top: 50px;
    font-size: 80px;
  }
}

.our-team__container {
  padding: 30px 20px;
  display: grid;
  gap: 40px;

  @media (min-width: $bp-md) {
    grid-template-columns: 1fr 1fr;
    padding: 30px 30px;
  }

  @media (min-width: $bp-lg) {
    grid-template-columns:  repeat(4, 1fr);
    padding: 50px 70px;
  }
}

.our-team__member-container {
  @include display_flex(center, center, column);

  @media (min-width: $bp-md) {
    @include display_flex (end, end, column);
  }
}

.our-team__member {
  @include display_flex (center, start, column);

  & img {
    filter: grayscale(100%);
    margin-bottom: 15px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 0.87;

    @media (min-width: $bp-lg) {
      aspect-ratio: 0.82;
    }
  }
}

.our-team__member-name {
  font-family:'Gilroy-Regular', sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: $text-color-gray;
}

.our-team__member-position {
  font-size: 20px;
  font-weight: 400;
  color: $text-color-gray;
  margin: 5px 0 15px 0;
}

.our-team__socials {
  @include display_flex (center, center);
  gap: 10px;
}

.our-team__join-container {
  @include display_flex(center, center, column);
  gap: 15px;

  @media (min-width: $bp-md) {
    @include display_flex (center, start, column);
    grid-column: span 2;
  }
}

.our-team__join_text {
  font-family:'Gilroy-Regular', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: $text-color-gray;
  text-transform: uppercase;
}

.our-team__join-ask {
  color: #333;
  text-align: center;
  font-size: 40px;
  font-family:'Gilroy-Bold', sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $bp-md) {
    font-size: 64px;
    text-align: left;
  }
}

.our-team__link_btn {
  color: $text-color-white;
  background-color: $background-secondary;
  width: 100%;
  text-align: center;
  max-width: 500px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  @include display_flex(center, center, row);
  padding: 10px 30px;
  gap: 10px;

  &::after {
    content: "";
    background-image: url(../../img/Arrow-right.svg);
    display: block;
    width: 24px;
    height: 17px;
  }
  @media (min-width: $bp-md) {
    @include display_flex(flex-end, center, row);
    text-align: left;
    max-width: 170px;
  }
}
